html {
  height: 100%;
  width: 100%;
}
body {
  font-family: sans-serif;
  background-color: #f9f9f9;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.boost-box {
  background-color: #7fc8fb;
  padding: 20px;
  margin: 40px;
  width: 300px;
  border-radius: 10px;
  text-align: center;
}

.boost-button{
  background-color: #ff6392;
  color: #ffe45e;
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
}

.boost-button:hover {
  background-color: rgb(69, 12, 12);
}